MONGODB_URI=mongodb+srv://task-management:Festie@6C167O304d6CP1Fh@festie-rate.isi6aht.mongodb.net/issue?appName=festie-rate
MONGODB_DB=festie-testing

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=festie-testing/issues

ADMIN_USERNAME=ADMIN
ADMIN_PASSWORD=ADMIN@123
ADMIN_SESSION_SECRET=replace-this-with-a-long-random-secret
